$hive-primary-color: #ffed0a;
$hive-primary-helper-color: #F8C959;
$hive-secondary-color: #35DAAF;
$hive-dark-color: #563B59;
$hive-light-color: #C559DB;
$hive-gray-color: #363636;
$hive-white-color: white;

$break-mobile: 400px;
$break-small: 900px;
$break-large: 1200px;

@import "./hive-global";
@import "./hive-btn";
@import "./hive-header";
@import "./hive-topic";
@import "./hive-common";
