body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-header {
  background-color: transparent;
  box-shadow: none;
  .contents { margin: 20px 0 }
  .wrap { max-width: 1300px }
}

.hive {
  * { box-sizing: border-box }
}
