body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-header {
  background-color: transparent;
  box-shadow: none;
  .contents { margin: 20px 0 }
  .wrap { max-width: 1300px }
  padding-bottom: 10px;
}

.navigation-topics.docked .d-header {
  background-color: #222;
}

.hive {
  * { box-sizing: border-box }
}
