.hive-header {
  background: linear-gradient(
    183deg,
    $hive-dark-color 0%,
    rgba($hive-secondary-color, .1) 55%,
    rgba($hive-secondary-color,  0) 90%
  );
  padding-top: 140px;

  &__title {
    width: 35%;
    float: left;
    opacity: 0.95;

    h2 {
      font-size: 36px;
      line-height: 40px;
      color: $hive-white-color;
      padding: 25px 0;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: $hive-white-color;
      padding-right: 70px;
    }
  }

  &__img {
    float: right;
    width: 65%;
    text-align: right;
  }
}
